<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzw.mapper.MedicineMapper" >
  <resultMap id="BaseResultMap" type="com.wzw.entity.Medicine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="medicine_menu_number" property="medicineMenuNumber" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="simplify" property="simplify" jdbcType="VARCHAR" />
    <result column="shape" property="shape" jdbcType="VARCHAR" />
    <result column="format" property="format" jdbcType="INTEGER" />
    <result column="validate" property="validate" jdbcType="INTEGER" />
    <result column="production_date" property="productionDate" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, medicine_menu_number, `type`, simplify, shape, format, validate, production_date,
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_medicine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_medicine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wzw.entity.Medicine" >
    insert into t_medicine (id, medicine_menu_number, `type`,
      simplify, shape, format, 
      validate, production_date, status
      )
    values (#{id,jdbcType=INTEGER}, #{medicineMenuNumber,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{simplify,jdbcType=VARCHAR}, #{shape,jdbcType=VARCHAR}, #{format,jdbcType=INTEGER}, 
      #{validate,jdbcType=INTEGER}, #{productionDate,jdbcType=DATE}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wzw.entity.Medicine" >
    insert into t_medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="medicineMenuNumber != null" >
        medicine_menu_number,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="simplify != null" >
        simplify,
      </if>
      <if test="shape != null" >
        shape,
      </if>
      <if test="format != null" >
        format,
      </if>
      <if test="validate != null" >
        validate,
      </if>
      <if test="productionDate != null" >
        production_date,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="medicineMenuNumber != null" >
        #{medicineMenuNumber,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="simplify != null" >
        #{simplify,jdbcType=VARCHAR},
      </if>
      <if test="shape != null" >
        #{shape,jdbcType=VARCHAR},
      </if>
      <if test="format != null" >
        #{format,jdbcType=INTEGER},
      </if>
      <if test="validate != null" >
        #{validate,jdbcType=INTEGER},
      </if>
      <if test="productionDate != null" >
        #{productionDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzw.entity.Medicine" >
    update t_medicine
    <set >
      <if test="medicineMenuNumber != null" >
        medicine_menu_number = #{medicineMenuNumber,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="simplify != null" >
        simplify = #{simplify,jdbcType=VARCHAR},
      </if>
      <if test="shape != null" >
        shape = #{shape,jdbcType=VARCHAR},
      </if>
      <if test="format != null" >
        format = #{format,jdbcType=INTEGER},
      </if>
      <if test="validate != null" >
        validate = #{validate,jdbcType=INTEGER},
      </if>
      <if test="productionDate != null" >
        production_date = #{productionDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzw.entity.Medicine" >
    update t_medicine
    set medicine_menu_number = #{medicineMenuNumber,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      simplify = #{simplify,jdbcType=VARCHAR},
      shape = #{shape,jdbcType=VARCHAR},
      format = #{format,jdbcType=INTEGER},
      validate = #{validate,jdbcType=INTEGER},
      production_date = #{productionDate,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="allMedicine" resultMap="BaseResultMap">
    select
    *
    from t_medicine
  </select>

  <select id="countAllMedicine" resultType="java.lang.Integer">
    select
    count(id)
    from t_medicine
  </select>
</mapper>