<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzw.mapper.PurchasingMapper" >
  <resultMap id="BaseResultMap" type="com.wzw.entity.Purchasing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="purchasing_menu_id" property="purchasingMenuId" jdbcType="INTEGER" />
    <result column="store_medicine_id" property="storeMedicineId" jdbcType="INTEGER" />
    <result column="purchasing_price" property="purchasingPrice" jdbcType="REAL" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="total_price" property="totalPrice" jdbcType="REAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, purchasing_menu_id, store_medicine_id, purchasing_price, amount, total_price, 
    status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_purchasing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_purchasing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wzw.entity.Purchasing" >
    insert into t_purchasing (id, purchasing_menu_id, store_medicine_id, 
      purchasing_price, amount, total_price, 
      status)
    values (#{id,jdbcType=INTEGER}, #{purchasingMenuId,jdbcType=INTEGER}, #{storeMedicineId,jdbcType=INTEGER}, 
      #{purchasingPrice,jdbcType=REAL}, #{amount,jdbcType=INTEGER}, #{totalPrice,jdbcType=REAL}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wzw.entity.Purchasing" >
    insert into t_purchasing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purchasingMenuId != null" >
        purchasing_menu_id,
      </if>
      <if test="storeMedicineId != null" >
        store_medicine_id,
      </if>
      <if test="purchasingPrice != null" >
        purchasing_price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="purchasingMenuId != null" >
        #{purchasingMenuId,jdbcType=INTEGER},
      </if>
      <if test="storeMedicineId != null" >
        #{storeMedicineId,jdbcType=INTEGER},
      </if>
      <if test="purchasingPrice != null" >
        #{purchasingPrice,jdbcType=REAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=REAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzw.entity.Purchasing" >
    update t_purchasing
    <set >
      <if test="purchasingMenuId != null" >
        purchasing_menu_id = #{purchasingMenuId,jdbcType=INTEGER},
      </if>
      <if test="storeMedicineId != null" >
        store_medicine_id = #{storeMedicineId,jdbcType=INTEGER},
      </if>
      <if test="purchasingPrice != null" >
        purchasing_price = #{purchasingPrice,jdbcType=REAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=REAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzw.entity.Purchasing" >
    update t_purchasing
    set purchasing_menu_id = #{purchasingMenuId,jdbcType=INTEGER},
      store_medicine_id = #{storeMedicineId,jdbcType=INTEGER},
      purchasing_price = #{purchasingPrice,jdbcType=REAL},
      amount = #{amount,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=REAL},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="allPurchasing" resultMap="BaseResultMap">
    select
    *
    from t_purchasing
  </select>

  <select id="countAllPurchasing" resultType="java.lang.Integer">
    select
    count(id)
    from t_purchasing
  </select>
</mapper>